*{
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


header{
    background-color: mediumvioletred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

footer{
    background-color: mediumvioletred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    text-align: center;
    justify-content: center
}

#bolinho{
    width: 25px;   
}

#confeitaria{
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.botoes-menu {
    width: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

#menu{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 100px 150px;
    background-color: #f2d0e0;
    width: 300px;
    
}

.setas-menu {
    width: 20px; 
    padding-top: 10px;
    padding-left: 120px;
}

main{
    display: flex;
    background-color: white;
    flex-grow: 1;
    border: 5px white;
    
    
    
}

#bolos { 
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 70px;
    border: 5px black;
    align-items: center;
    
    
}

.foto-bolo {
    width: 300px;
    height: 300px;
    box-shadow: 1px 0px darkgrey;
}

#bloco-bolos {
    display: grid;
    grid-template-rows: 305px 100px ;
    
}

.texto-bolo{
    text-align: center;
    padding-top: 15px;
    box-shadow: 1px 0px darkgrey;
}

.texto-bolo2{
    text-align: center;
    padding-top: 15px;
    box-shadow: 1px 1px darkgrey;
}


