body{
    background-color: rgb(191, 202, 212);
    background-image: url("../img/Sputnik-1.jpg");
}

h1 {
    color: darkorange;
    padding-left: 85px ;
}

p{
    font-size: larger
}

img{
    display: inline;
    margin-left: 150px;
    margin-right: auto;
    padding: 10px;
    border-radius: 35%;
    width: 20%;
    background-color: floralwhite;
    
}
td{
    background-color: darkorange;
    border-radius: 15%;
    text-align: center;
    
}
#foto-das-placas{
    display: inline;
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;
    border-radius: 5%;
    width: 60%;    

}

#forms{
    font-size: 20px;
    background-color: darkorange;
    margin-right: 1500px;
    padding-top: 10px;
    text-align: left;
}

#botao{
    position: absolute;
    top: 300px;
    left: 165px;
    font: bold 12px/24px arial, helvetica;
    color: rgb(8, 11, 14);
    background-color: rgb(162, 162, 167);
}

.lista{
    background-color: darkorange;
    margin-right: 1600px;
    font-size: 20px;
    font: bold 20px/30px arial, helvetica;
    font-style: italic;
}

a:link {
    text-decoration: none;
    color: rgb(7, 7, 8);
    background-color: darkorange;
    border-radius: 5%;
}
   
a:hover {
    text-decoration: none;
    border: solid;
    color: rgb(0, 0, 0);
    background-color: rgb(68, 84, 99);
}

table{
    margin: auto;
}   

#redes-sociais{
    color: floralwhite;
    font: bold 25px/30px arial, helvetica;
    padding-top: 110px;
    padding-left: 742px;
}